/* 
	DESIGN:	minimal
	BY:	blesc

*/


.clear {
  clear: both;
}

html {
	margin: 0;
	padding: 0;
	position: relative;

	font-family: {{style.fontFamily}};
	text-align: {{style.textAlign}};
	background-color: {{style.backgroundColor}};
}
.page {
	margin: auto;

	min-width: 900px;
	max-width: 1200px;
}

navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*
.l {
	margin-top: 5%;
	margin-bottom: 5%;

	padding: 5% 5% 5% 5%;

	border-style: solid;
	border-width: 1px;

	background-color: {{style.layer.backgroundColor}};
}
*/
.l1 {}
.l2 {}
.l3 {}
.title {
	background: none;	
	border: none;

	font-size: {{style.title.fontSize}};
	color: {{style.title.fontColor}};
	
	width: 100%;
}
.text {
	background: none;	
	border: none;
	resize: none;

	font-size: {{style.text.fontSize}};
	color: {{style.text.fontColor}};
	
	width: 100%;
}
.link {
	background: none;
	border: none;
	text-decoration: none;
	
	font-size: {{style.link.fontSize}};
	color: {{style.link.fontColor}};
	
}
.media {
	background: none;	
	border: none;

	width: 100%;
	height: 100%;
}
.media-item {
	min-height: 250px;
}
.image {}
.video {}
.html {
	background: none;	
	border: none;

	width: 100%;
	height: 100%;
}

/* LAYER ONE */
.l1 .title {
	font-size: {{style.layerOne.title.fontSize}};
}

/* LAYER TWO */
.l2 .title {
	font-size: {{style.layerTwo.title.fontSize}};
}

/* LAYER THREE */
.l3 .title {
	font-size: {{style.layerTwo.title.fontSize}};
}

/* CMS DESIGN */
.media-options {
	display: none;
	float: left;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.media-item:hover .media-options {
	display: initial;
}

.media-edit {
	display: none;
	float: left;
	z-index: 2;
	width: 100%;
	height: 100%;
}

.link-options {
	display: none;
	float: left;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.link-edit {
	display: none;
	float: left;
	z-index: 2;
	width: 100%;
	height: 100%;
}

.link:hover .link-options {
	display: initial;
}

/*
html {
	margin: auto;
	width: 100%;
	height: 100%;
}

body {
	margin: auto;
	width: 100%;
	height: 100%;
}

.navigation {
	background-color: #89F;
	height: 60px;
	width: 100%;
}

.settingsBar {
	background-color: #45C;
	float: left;
	width: 33%;
	height: 100%;
}

.layer-preview {
	background-color: #67F;
	width: 80%;
	height: 20%;
	margin: 10%;
}

.edit {
	background-color: #6F7;
	width: 67%;
	height: 100%;
	
	margin-left: 33%;
}

.header {
	text-align: center;
	background-color: #50DD60;
	height: 5%;
}

.header input {
	text-align: center;
	background-color: #6D7;
	border-color: #4C5;
	margin-top: 3px;
	margin-right: 10px;
	width: 22%;
	height: 80%;
}

.page {
	background-color: #4C5;
	
	width: 50%;
	height: 90%;
	
	margin-left: 20%;
}

.footer {
	background-color: #50DD60;
	height: 5%;
}

.footer button {
	background-color: #6D7;
	border-color: #4C5;
	float: right;
	margin-top: 3px;
	margin-right: 10px;
	width: 14%;
	height: 80%;
}
*/
