.clear {
  clear: both;
}

* {
	margin: 0;
	padding: 0;
	position: relative;

	font-family: {{style.fontFamily}};
	text-align: {{style.textAlign}};
	background-color: {{style.backgroundColor}};
}
.page {
	margin: auto;
	min-width: 900px;
	max-width: 1200px;
}
.navigation {
	list-style: none;
	max-height: 100px;
}

.l1 {
	width: 100%;
	height: 100%;
}
.l1 .title {
	font-size: {{style.layerOne.title.fontSize}};
}

.l2 {
	width: 100%;
	height: 100%;
}
.l3 {
	width: 100%;
	height: 100%;
}
.title {
	background: none;	
	border: none;

	font-size: {{style.title.fontSize}};
	color: {{style.title.fontColor}};
	
	width: 100%;
}
.text {
	background: none;	
	border: none;
	resize: none;

	font-size: {{style.text.fontSize}};
	color: {{style.text.fontColor}};
	
	width: 100%;
	height: 100%;
}
.link {
	background: none;	
	border: none;	

	text-decoration: none;
	color: {{style.link.fontColor}};
	font-size: {{style.link.fontSize}};
	background-color: {{style.link.backgroundColor}};
}
.media {
	background: none;	
	border: none;

	width: 100%;
	height: 100%;
}
.media .background {
	width: 100%;
	background-color: #DDD;
}
.image {}
.video {}
.html {
	background: none;	
	border: none;

	width: 100%;
	height: 100%;
}
