<div class="l{{level}}" ng-if="content != null" ng-hide="content == null" >
	<div class="title" ng-hide="content.title == ''">
		{{content.title}}</div>
	<div class="media" ng-hide="content.media.length == 0">
		<div ng-repeat="media in content.media">
			<div class="media-background"></div>
			<div ng-if="media.type == 'image'">
				<img class="image" ng-src="{{media.source}}" alt="{{media.source}}"/>
			</div>
			<div ng-if="media.type == 'video'">
				<video controls>
					<source ng-src="{{media.source}}">
				</video>
			</div>
		</div>
	</div>
	<div class="text" ng-bind-html="content.text" ng-hide="content.text == ''"></div>
	<div class="links" ng-repeat="link in content.links" ng-hide="content.links.length == 0">
		<a class="link" href="{{link.url}}">{{link.text}}</a>
	<div>
	<div class="children" ng-repeat="child in content.children" ng-hide="content.children.length == 0">
		<layer lever="child.level" content="child"></layer>
	</div>
</div>
