<ul>
	<div class="links" ng-repeat="link in links">	
		<li class="link">
			<input type="text" class="link"
				palcaholder="Link text" title="link text" ng-model="link.text"/>
			:
			<input type="text" class="link"
				placeholder="Link url" title="link url" ng-model="link.url"/>
			<button ng-click="removeLink($index)">remove</button>
		</li>
	</div>
	<li class="link">		
		<input type="text" class="link" 
			placeholder="Link text" title="link text" ng-model="link.text"/>
		:
		<input type="text" class="link"
			placeholder="Link url" title="link url" ng-model="link.url"/>
		<button ng-click="addLink()">add</button>
	</li>
<ul>
