<div class="l l{{layer}}" ng-if="content != null" ng-hide="content == null" >
	<div class="title">
		{{content.title}}</div>
	<div class="media" ng-repeat="media in content.media">
		<div class="background">
			<scms-media-display media="media"></scms-media-diplay>
		</div>
	</div>
	<div class="text" ng-bind-html="content.text" ng-hide="content.text == ''"></div>
	<ul class="links">
	<div ng-repeat="link in content.links" ng-hide="content.links.length == 0">
		<li class=link>		
			<a class="link" href="{{link.url}}">{{link.text}}</a>
		</li>
	</div>
	</ul>
	<div class="children" ng-repeat="child in content.children" ng-hide="content.children.length == 0">
		<scms-content layer="child.layer" content="child"/></div>
</div>
