<div class="l l{{layer}}" ng-if="content != null" ng-hide="content == null" >
	<input type="text" class="title" placeholder="Title" ng-model="content.title"/>
	<scms-media-edit media="content.media" ></scms-media-edit>
	<div class="text" contenteditable ng-model="content.text"></div>
	<scms-links-edit links="content.links"></scms-links-edit>
	<div class="children" ng-repeat="child in content.children" ng-hide="content.children.length == 0">
		<scms-content-edit layer="child.layer" content="child"/>
	</div>
</div>
