<div class="media" ng-repeat="m in media">
	<div class="background" ng-hide="m == null">
		<div class="media-item">		
			<scms-media-display media="m"></scms-media-display>
			<div class="media-options" >		
				<button ng-click="removeMedia($index)">remove</button>
				<button ng-click="editMedia($index)">edit</button>
			</div>
			<div id="media-edit-{{$index}}" class="media-edit">		
				<input class="link" 
					placeholder="Media type" 
					ng-model="m.type"
					ng-model-options="{ updateOn: 'blur' }"/>
				:
				<input class="link"
					placeholder="Media source" 
					ng-model="m.source"
					ng-model-options="{ updateOn: 'blur' }"/>
				<button ng-click="updateMedia($index)">save</button>
			</div>
		</div>
	</div>
</div>
<div class="background">
	<div class="media-item">
		<scms-media-display media="newMedia" ng-hide="newMedia.type == ''"></scms-media-display>
		<div class="media-options" style="display: initial;">
			<button ng-click="addMedia()">add media</button>
		</div>
		<div id="media-edit" class="media-edit">		
			<input class="link" 
				placeholder="Media type" 
				ng-model="newMedia.type"
				ng-model-options="{ updateOn: 'blur' }"/>
			:
			<input class="link"
				placeholder="Media source" 
				ng-model="newMedia.source"
				ng-model-options="{ updateOn: 'blur' }"/>
			<button ng-click="saveMedia()">save</button>
			<button ng-click="cancelMedia()">cancel</button>
		</div>
	</div>
</div>
