<div id="content">
    <div id="add-new-page">
        <div id="url">
            <input type="text" placeholder="Route" title="Route" ng-model="page.route"/></div>
        <div id="title">
            <input type="text" placeholder="Titel" title="Titel" ng-model="page.title"/></div>
        <div id="page-content" ng-repeat="content in page.content">
            <input type="text" placeholder="Title" title="Title" ng-model="content.title" style="width: 100%"/>
            <div ng-repeat="media in content.media">
                <input type="text" placeholder="Media source" title="Media source" ng-model="media.source" style="width: 100%"/>
            </div>
            <textarea placeholder="Text" title="Text" ng-model="content.text" style="width: 100%"></textarea>
            <div ng-repeat="link in content.links">
                <input type="text" placeholder="Link url" title="link url" ng-model="link.url" style="width: 49%"/>
		<input type="text" palcaholder="Link text" title="link text" ng-model="link.text" style="width: 49%"/>
            </div>
	</div>
        <div id="toolbar">
            <button id="save" ng-click="save()">Speichern</button>
            <button id="delete" ng-click="delete()">L&ouml;schen</button>
            <div class="clear"></div>
        </div>
    </div>
</div>
