<div id="settings">
	<h1>General Settings</h1>
	<h2>Host name</h2>
	<p>The name under which your website is accessable. Could look like this "www.blesc.ch".</p>
	<input type="text" ng-model="settings.hostName"/>
	<h2>Port</h2>
	<p>The port trough which your website is accessed. Usually '80'.</p>
	<input type="number" min="0" max="65536" steps="1" ng-model="settings.port"/>
	<h2>Start page</h2>
	<p>The page first page.</p>
	<input type="text" ng-model="settings.startPage"/><br/>
	<button id="save" ng-click="save()">Speichern</button>
</div>
