<div id="content">
    <div id="add-new-page">
        <div id="url">
            <input type="text" placeholder="URL" title="URL"/>
        </div>
        <div id="title">
            <input type="text" placeholder="Titel" title="Titel"/>
        </div>
        <div id="page-content" contenteditable="true">

        </div>
        <div id="toolbar">
            <button id="save">Speichern</button>
            <button id="delete">L&ouml;schen</button>
            <div class="clear"></div>
        </div>
    </div>
</div>